<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Estimator.My.MySettings.ProdConnString" connectionString="Data Source=FS01\FS01;Initial Catalog=Estimator;Persist Security Info=True;User ID=sa;Password="
            providerName="System.Data.SqlClient" />
        <add name="Estimator.My.MySettings.DevConnString" connectionString="Data Source=RSS\RSS;Initial Catalog=Estimator;Persist Security Info=True;User ID=sa;Password=86&lt;fsas&lt;88" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>